# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak

# MATLAB toolbox related files
resources/
*.prj
*.ignore
deploymentLog.html
.gitignore
.gitattributes

# Environment and validation folders
realTimeGUI/iscRT/
realTimeGUI/index_*
realTimeGUI/main_*
validation/*

# Cache files
*__pycache__/